<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>信虹智慧服务平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="./favicon.ico">
        <!-- third party css -->
        <!--<link href="./css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />-->
        <!-- third party css end -->
        <!-- App css -->
        <!-- build:css -->
        <link href="./css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="./css/sweet-alert.css" rel="stylesheet" type="text/css" />
        <link href="./css/toastr.min.css" rel="stylesheet" type="text/css" />
        <style>
            /*下拉菜单样式*/
            .selectForArea{
                padding: .45rem .9rem;
                font-size: .875rem;
                line-height: 1.5;
                color: #6c757d;
                background-color: #fff;
                background-clip: padding-box;
                border: 2px solid #dee2e6;
                border-radius: .1rem;
            }
        </style>
        <!-- endbuild -->
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=efxnyMri7sWerdsw9o7HwQnNAPwVIPBE"></script>
    </head>
    <body ng-app="app" ng-controller="xhcontroller" style="padding-right:0!important;">
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page" style="padding: 5px 5px 5px 0px;">
                <!--<div id="allmap" style="width: 100%; height: 850px;"></div>-->
                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-left">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">信虹智慧服务平台</li>
                                        <li class="breadcrumb-item"><a>站点列表</a></li>
                                    </ol>
                                </div>
                                <div>
                                    <form id="searchForm">
                                    <select class="selectForArea" id="testIndustrys" style="width:15%;">
                                        <option ng-repeat="x in industrys" ng-value="x">{{x}}</option>
                                    </select>
                                    <select class="selectForArea" id="testSiteName" style="width:15%;">
                                        <option ng-repeat="x in siteNames" ng-value="x">{{x}}</option>
                                    </select>
                                    <select class="selectForArea" id="testSiteStatus" style="width:15%;">
                                        <option ng-repeat="x in siteStatus" ng-value="x">{{x}}</option>
                                    </select>
                                    <select class="selectForArea" id="testProvince" style="width:15%;"></select>
                                    <select class="selectForArea" id="testCity" style="width:15%;"></select>
                                    <select class="selectForArea" id="testArea" style="width:15%;"></select>
                                        <button type="button" class="btn ` btn-rounded" ng-click="showMod()">新增</button>
                                        <button type="button" class="btn btn-success btn-rounded" ng-click="refresh()">刷新</button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- end page title -->
                    <div class="row">
                    <div class="card" style="width:30%;margin:30px 0 0px 30px;" ng-repeat="x in data">
                        <div class="btn-group" style="padding:10px 0 0 30px;">
                            <button type="button" class="btn btn-info btn-rounded"  title="在该站点中添加RTU"><i class="mdi mdi-access-point"></i></button>
                            <button type="button" class="btn btn-warning btn-rounded" title="修改该站点配置" ng-click="showEdit($index)"><i class="mdi mdi-box-cutter"></i> </button>
                            <button type="button" class="btn btn-success btn-rounded" title="数据统计"><i class="mdi mdi-chart-bar"></i> </button>
                            <button type="button" class="btn btn-primary btn-rounded" title="历史数据"><i class="mdi mdi-atlassian"></i> </button>
                            <button type="button" class="btn btn-danger btn-rounded" title="删除该站点" ng-click="delBs(x.site_id)"><i class="mdi mdi-close-circle"></i> </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-centered mb-0">
                                    <tbody>
                                    <tr>
                                        <td>RTU数量</td>
                                        <td>{{x.num}}</td>
                                    </tr>
                                    <tr>
                                        <td>设备数量</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>站点名称</td>
                                        <td>{{x.site_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>所属行业</td>
                                        <td>{{x.site_industry}}</td>
                                    </tr>
                                    <tr>
                                        <td>所属区域</td>
                                        <td>{{x.site_province}} {{x.site_city}} {{x.site_county}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                    </div>

                    <!-- end row-->
                    <div class="page" style="float: right;margin-top: 30px;">
                        <div class="page-info">
                            <span>每页显示</span><select id="page-limit" ng-change="refresh()" class="selectForArea"
                                                     ng-model="count">
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select> <span>条,</span><span ng-model="index">显示{{start}}-</span><span
                                ng-model="lastIndex">{{lastIndex}}条,</span> <span
                                ng-model="totals">总计{{totals}}条</span>
                            <i class="fa fa-refresh page-refresh" title="刷新数据" ng-click="refresh()"></i>
                        </div>
                        <div class="page-paging"></div>
                    </div>
                </div> <!-- container -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2018 © 成都中航信虹股份有限公司
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="">关于</a>
                                    <a href="">支持</a>
                                    <a href="">联系我们</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- 添加模态框 -->
        <!-- 添加 -->
        <div ng-include="'siteList-add.html'"></div>
        <!-- 修改 -->
        <div ng-include="'siteList-edit.html'"></div>
        <!-- bundle -->
        <script src="./javascript/app.min.js"></script>
        <script src="angularjs/jquery-3.2.1.min.js"></script>
        <script src="angularjs/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="angularjs/metisMenu.min.js"></script>
        <script src="js/sweet-alert.js"></script>
        <script src="js/toastr.min.js"></script>
        <script src="js/site.js"></script>
        <script src="js/areaSelect.js"></script>
        <script src="js/paging.js"></script>
        <!--<script src="./javascript/demo.dashboard.js"></script>-->
        <script type="text/javascript">
            xh.load();
        </script>
    </body>

</html>