<!DOCTYPE html>
<html>
<head>
<title>business_menu.html</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">

<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>

</head>

<body class="fixed-iframe" ng-app="app" ng-controller="menu">
	<!-- splash screen-->
	<div class="splash">
		<!-- <div class="color-line"></div> -->
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<!-- <div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>业务管理</span></li>
							<li class="active"><span>数据管理</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div> -->
		<div class="content animate-panel" style="margin-top:0px">
			<div class="row" ng-show="menu.m_321">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-list"></i> 基础数据
						</div>
						<div class="panel-body">
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3211">
							<a href="../business/radiouser.html" target="_self">
								<i class="fa fa-mobile fa-4x text-success"></i>
								<p>入网终端</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3212">
							<a href="../business/radiodispatch.html" target="_self">
								<i class="fa fa-user-circle-o fa-4x text-success"></i>
								<p>调度用户</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3213">
							<a href="../business/talkgroup.html" target="_self">
								<i class="fa fa-users fa-4x text-success"></i>
								<p>通话组</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3214">
							<a href="../business/vpn.html" target="_self">
								<i class="fa fa-sitemap fa-4x text-success"></i>
								<p>组织结构</p>
								</a>
							</div>
							


						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row" style="margin-bottom:0px;" ng-show="menu.m_322">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-list"></i> 业务数据
						</div>
						<div class="panel-body">
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3221">
							<a href="../operations/audio.html" target="_self">
								<i class="fa fa-microphone fa-4x text-success"></i>
								<p>全网录音</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3222">
							<a href="../operations/sms-recv.html" target="_self">
								<i class="fa fa-envelope-square fa-4x text-danger"></i>
								<p>收件箱</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3222">
							<a href="../operations/sms-send.html" target="_self">
								<i class="fa fa-envelope-open-o fa-4x text-primary"></i>
								<p>发件箱</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3222">
							<a href="../operations/order.html" target="_self">
								<i class="fa fa-file-text fa-4x text-primary"></i>
								<p>派单列表</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3223">
							<a href="../operations/gps.html" target="_self">
								<i class="fa fa-map-marker fa-4x text-danger"></i>
								<p>GPS数据</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3224">
							<a href="../operations/gpsOperation.html" target="_self">
								<i class="fa fa-gavel fa-4x text-primary"></i>
								<p>GPS操作记录</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3225">
							<a href="../operations/emhHistory.html" target="_self">
								<i class="fa fa-lightbulb-o fa-4x text-warning"></i>
								<p>环控历时数据</p>
								</a>
							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row" ng-show="menu.m_323">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-list"></i> 权限模板
						</div>
						<div class="panel-body">
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3231">
							<a href="../business/radiouserbusiness.html" target="_self">
								<i class="fa fa-recycle fa-4x text-success"></i>
								<p>无线用户业务属性</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3232">
							<a href="../business/radiouserseria.html" target="_self">
								<i class="fa fa-recycle fa-4x text-danger"></i>
								<p>无线用户互联属性</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3233">
							<a href="../business/radiodispatchbusiness.html" target="_self">
								<i class="fa fa-recycle fa-4x text-primary"></i>
								<p>调度用户业务属性</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3234">
							<a href="../business/talkgroupbusiness.html" target="_self">
								<i class="fa fa-recycle fa-4x text-danger"></i>
								<p>通话组/通播组业务属性</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;" ng-show="menu.m_3235">
							<a href="../business/talkgroupia.html" target="_self">
								<i class="fa fa-recycle fa-4x text-primary"></i>
								<p>通话组/通播组互联属性</p>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- row -->

		</div>
	</div>
	<!-- 中间内容体 /-->
<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>
<script type="text/javascript" src="../../Controllers/menu/menu.js"></script>
<script type="text/javascript">
		xh.load();
</script>
</body>
</html>
