<!DOCTYPE html>
<html>
<head>
<title>business_menu.html</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="-1">

<script type="text/javascript"
	src="../../Resources/js/xhbootstrap-css.js"></script>

</head>

<body class="fixed-iframe">
	<!-- splash screen-->
	<div class="splash">
		<!-- <div class="color-line"></div> -->
		<div class="splash-title">
			<h1>系统正在努力加载中，请耐心等待</h1>
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 中间内容体 -->
	<div id="wrapper">
		<!-- <div class="small-header transition animated fadeIn">
			<div class="title-panel">
				<div class="panel-body">
					<div id="hbreadcrumb" class="pull-left">
						<ol class="hbreadcrumb breadcrumb">
							<li><span>当前位置：</span></li>
							<li><span>业务管理</span></li>
							<li class="active"><span>网办业务</span></li>
						</ol>
					</div>
				</div>
			</div>
		</div> -->
		<div class="content animate-panel" style="margin-top:0px">
			<div class="row">
				<div class="col-md-12">
					<div class="hpanel">
						<div class="panel-heading hbuilt">
							<i class="fa fa-list"></i> 配置管理
						</div>
						<div class="panel-body">
							<div class="menu-box text-center" style="cursor: pointer;">
								<a href="../operations/bsInfo.html" target="_self"> <i
									class="fa fa-podcast fa-4x text-success"></i>
									<p>基站配置</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
								<a href="../operations/bslimit.html" target="_self"> <i
									class="fa fa-edit fa-4x text-danger"></i>
									<p>基站限制列表</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
								<a href="../operations/onduty.html" target="_self"> <i
									class="fa fa-vcard fa-4x text-success"></i>
									<p>值班表管理</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
								<a href="../operations/contacts.html" target="_self"> <i
									class="fa fa-vcard-o fa-4x text-danger"></i>
									<p>联系人管理</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
								<a href="../operations/roadInfo.html" target="_self">
									<i class="fa fa-file-excel-o fa-4x text-primary"></i>
									<p>路测数据导入</p>
								</a>
							</div>
							<div class="menu-box text-center" style="cursor: pointer;">
								<a href="../web/news.html" target="_self">
									<i class="fa fa-newspaper-o fa-4x text-success"></i>
									<p>公告发布</p>
								</a>
							</div>
							


						</div>
					</div>
				</div>
			</div>
			<!-- row -->

		</div>
	</div>
	<!-- 中间内容体 /-->

	<script type="text/javascript"
		src="../../Resources/js/xhbootstrap-js.js"></script>

</body>
</html>
